<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WildFinder : Index</title>

    <link rel="stylesheet" href="C:\Users\wilso\Desktop\WildFinder_Adreniline_edition\Alpha\src\main\resources\static">
</head>

<body id="home">
    <div class="welcome-container">
        <p id="main-header">Wild Finder</p>
        <p>We'll help you find your wilderness.</p>
        <div class="cont">
            <a href="login.html">
                <p>Continue to log in</p>
            </a>
        </div>
    </div>
</body>

</html>